body {
  margin-top: 200px;
}
.nom-0 {
  margin: 0 auto;
  width: 300px;
}
.nom-2 {
  display: block;
  padding: 30px 60px;
  margin: 300px auto;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  background-color: royalblue;
  font-weight: 600px;
  color: white;
  letter-spacing: 2px;
  transition: 1.2s all 0s ease;
}
.nom-2:hover {
  background-color: seagreen;
  color: white;
  border-radius: 42px;
}
